*{
  box-sizing: border-box;
}

.sidebar{
  width: 15%;
  height: 100%;
  position: absolute;
  background-color: rgb(0, 0, 0);
  left: 0;
  top: 0;
}

.sidebar a{
  display: flex;
  flex-direction: column;
  color: red;
  text-decoration: none;
  padding: 15px;
  font-size: 23px;
  text-align: center;
}

.sidebar a:hover{
  background-color: rgb(255, 217, 0);
}

.active{
  background-color: rgb(0, 27, 100);

}