.container{
  text-align: center;
  margin-top: 10px;
}

.btn{
  padding: 15px;
  background-color: rgb(126, 255, 94);
  border: 3px solid #031a7e7d;
  cursor: pointer;
  border-radius: 10px;
  font-size: 25px;
  margin: 5px;

}

.btn:hover{
  background-color: rgb(255, 10, 173);
}

.active{
  background-color: rgb(255, 10, 173);
}