<div class="container">
  <button type="button" class="btn" [routerLink]="['sunday']" routerLinkActive="active">Sunday</button>

  <button type="button" class="btn" [routerLink]="['monday']" routerLinkActive="active">Monday</button>

  <button type="button" class="btn" [routerLink]="['tuesday']" routerLinkActive="active">Tuesday</button>
</div>

<router-outlet></router-outlet>