*{
  margin-left: 15%;
}

.btn{
  padding: 10px;
  background-color: rgb(57, 100, 60);
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  margin: 10px;

}


.btn:hover{
  background-color: rgb(115, 121, 60);
}

.active{
  background-color: rgb(115, 121, 60);
}
